registry=https://registry.npmmirror.com
disturl=https://npmmirror.com/mirrors/node
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
better_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/better-sqlite3
